*{
    margin: 0px 0px 0px 0px;
    border: 0px;
    padding: 0px 0px 0px 0px;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#container{
    position: relative;
    width: auto;
    height: auto;
    z-index: 1;
}
#topcontainer{
    position : absolute;
    top : 0px;
    width : 100%;
    height: 100%;
    z-index: 10;
}

/**--      top     --**/
#topcontainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 140px;
}

#topcontainer > .top_logo{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 20px;
    width: 100px;
    height: 100px;
    overflow : hidden;
    z-index: 100;
}
#topcontainer > .top_logo > img{
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
}

#topcontainer > .menu_border{
    position: absolute;
    width : 100%;
    height :100%;
    top: 0px;
    z-index: 10;
}
.menu_border > .border_center{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 100%;
}
.menu_border > .border_center > img{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    vertical-align: middle;
    animation: border_animation 1s;
    animation-timing-function:linear;
}

@keyframes border_animation{
    0%{
        width: 0%;
        height: 0%;
        left: 50%;
        top: 50%;
    }
    100%{
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }
}
