*{
    margin: 0 0 0 0;
    border: 0;
    padding: 0 0 0 0;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#container{
    position: relative;
    width: auto;
    height: auto;
    z-index: 1;
}
#topcontainer{
    position : absolute;
    top : 0;
    width : 100%;
    height: 100%;
    z-index: 10;
}

/**--      top     --**/
#topcontainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    z-index: 10;
}

#topcontainer > .top_logo{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 20px;
    width: 100px;
    height: 100px;
    overflow : hidden;
    z-index: 100;
}
#topcontainer > .top_logo > img{
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
}

#topcontainer > .menu_border{
    position: absolute;
    width : 100%;
    height :100%;
    top: 0;
    z-index: 10;
}
.menu_border > .border_center{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 100%;
}
.menu_border > .border_center > img{
    position: relative;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    vertical-align: middle;
}
#topcontainer > .menu_text_container{
    position: absolute;
    width : 100%;
    height :100%;
    top: 0;
    z-index: 20;
    background: none;
}
#topcontainer > .menu_text_container  img{
    position: relative;
    width: auto;
    height: 40px;
    margin-top: 50px;
}

#topcontainer > .menu_text_container  .left_arrow{
    float: left;
}

#topcontainer > .menu_text_container  .right_arrow{
    float: right;
}

#topcontainer > .menu_text_container > .menu_text{
    position: relative;
    width: 340px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    overflow: hidden;
}

.menu_text > .menu_list{
    position: absolute;
    width: 1190px;
    height: 100%;
    top: 0;
}
.menu_text > .menu_list > .menu_list_span{
    position: relative;
    width:300px;
    height: 100%;
    margin-left: 20px;
}
.menu_text > .menu_list > .left_menu{
    float: left;
}
.menu_text > .menu_list > .right_menu{
    float: right;
}

.menu_list_span > ul{
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
}
.menu_list_span > ul > li{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-family: Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: 900;
}
.menu_list_span > ul > li > a{
    display: block;
    position: relative;
    width: 60%;
    height: 100px;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #4682B4;
    line-height: 100px;
    text-shadow: 0px 0px 2px #1E90FF,-2px 2px 0 #0000CD;
    overflow: hidden;
}
.menu_list_span > ul > li > a:hover{
    -webkit-transition: none;
    transition: none;
    color: transparent;
    text-shadow : none;
}
.menu_list_span > ul > li > a:before{
    content: '';
    width: 100%;
    height: 4px;
    margin: -2px 0 0 0;
    background: #ADD8E6;
    box-shadow: -1px 1px 0px #4682B4;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.menu_list_span > ul > li > a:hover:before{
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
.menu_list_span .text_half{
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.menu_list_span .text_bottom{
    top: 50%;
}
.menu_list_span .text_half:before{
    content: attr(data-letters);
    display: block;
    position: absolute;
    width: 100%;
    height: 200%;
    color: #ADD8E6;
    text-shadow: 0px 0px 2px #FFFFFF,-2px 2px 0 #4682B4;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.text_top:before{
    top: 0;
    transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
}
.text_bottom:before{
    bottom: 0;
    transform: translate3d(0,-100%,0);
    -webkit-transform: translate3d(0,-100%,0);
}

.menu_list_span > ul > li > a:hover .text_half:before{
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

/**--   loading container     --**/
#loadingcontainer{
    position : absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 100;
}

/**--  width less than 1200px     --**/
@media only screen and (max-width: 1200px) {
    #topcontainer > .menu_text_container{
        display: none;
    }
}
